@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: #f3f3f9;
}

.hidden-div {
  display: none;
}

.container {
  text-align: center;
}

.container-sidebar-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container-sidebar {
  background-color: #2c2e2f;
}

.container-topbar-account {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.container-topbar-account .col {
  padding: 10px;
}

.container-topbar-account .col1 {
  display: flex;
  align-items: center;
  flex: 0 0 40px;
}

.container-topbar-account .col1 .material-icons {
  font-size: 32px;
}

.container-topbar-account .col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: fit-content; /* Limita a largura máxima ao maior conteúdo */
  width: max-content; /* Ajusta a largura para o maior conteúdo */
  justify-content: flex-end;
}

.rounded-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}

.rounded-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-info-user {
  background-color: #2c2e2f;
  color: #DCDCDC;
  padding: 10px 0;
}

.container-info-user span:not([style*="display: block"]) {
  display: block;
}

.card {
  border-top: 1px solid #e9ebec;
  border-bottom: 1px solid #e9ebec;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

.card-header {
  border-bottom: 1px solid #e9ebec;
  background-color: #fff;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-footer {
  border-top: 1px solid #e9ebec;
}

.card-drop {
  color: #212529;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 7px 0;
}

.card-title-desc {
  margin-bottom: 24px;
}

.topbar {
  background-color: #fff;
  justify-content: flex-end;
  height: 3rem;
  display: flex;
  align-items: center;
}

.top-row {
  background-color: #2c2e2f;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row ::deep a, .top-row ::deep .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
  text-decoration: none;
  color: #6c5ce7;
}

.top-row ::deep a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  color: #DCDCDC;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #DCDCDC;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
  background-color: #2c2e2f;
}

.row-flex-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #4ffbdf;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
  background-color: #2c2e2f;
}

/* Estilo para a primeira coluna com 90% de largura */
.col-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

/* Estilo para a segunda coluna com 10% de largura */
.col-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

/* Estilos do ícone oi-home e do ícone oi-chevron-bottom */
.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.icon-submenu {
  margin-left: 25px;
  margin-right: 5px;
}

/* Estilo para centralizar o texto verticalmente */
.center-text {
  text-decoration: none;
}

.center-text[role=link] {
  cursor: pointer; /* Muda o cursor para a mãozinha */
}

.material-icons-menu {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  margin-left: 5px;
  margin-right: 5px;
}

.material-icons-menu-submenu {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 8px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 8px;
  width: 8px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  margin-left: 25px;
  margin-right: 5px;
}

.row-flex:hover,
.row-flex:hover .icon .row-flex-active * {
  color: #4ffbdf !important;
}

.row-flex-active:hover,
.row-flex-active:hover .icon .row-flex-active * {
  color: #4ffbdf !important;
}

.wenavbar-menu-item {
  text-decoration: none;
}

.wenavbar-menu-item-active {
  text-decoration: none;
}

.wenavbar-menu-item:hover * .wenavbar-menu-item-active * {
  color: #4ffbdf !important;
}

.table {
  table-layout: fixed; /* Isso permite controlar a largura das colunas */
  width: 100%; /* Largura total da tabela */
}

.table td {
  overflow: hidden;
  text-overflow: ellipsis; /* Adicione isso para lidar com conteúdo longo */
  white-space: nowrap; /* Evita que o conteúdo quebre em várias linhas */
  font-size: 12px;
  padding: 0.2rem !important;
}

th {
  font-size: 14px;
  padding: 0 0rem 0.5rem 0rem !important; /* Aplica padding nos lados (0.5rem) e no bottom (0.2rem) */
}

td {
  overflow: hidden;
  text-overflow: ellipsis; /* Adicione isso para lidar com conteúdo longo */
  white-space: nowrap; /* Evita que o conteúdo quebre em várias linhas */
  font-size: 12px;
  padding: 0.2rem !important;
}

thead {
  border-bottom: 1px solid #e9ebec;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #2c2e2f;
  color: #4ffbdf; /* Cor do texto no botão */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
}

.button-icon {
  color: #DCDCDC;
  transition: color 0.3s;
}

.round-button:hover .button-icon {
  color: #4ffbdf;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  user-select: none;
}

.navigator-container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.navigator-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
}

.navigator-button:hover .material-icons {
  background-color: #2c2e2f;
  color: #4ffbdf;
  border-radius: 10%;
}

.navigator-text {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  background-color: transparent;
  border: none;
}

.badge {
  line-height: 0.95;
}

.badge-bg-success {
  background-color: #daf4f0 !important;
}

.badge-bg-warning {
  background-color: #fef4e4 !important;
}

.badge-bg-error {
  background-color: #fde8e4 !important;
}

.badge-bg-information {
  background-color: #e1ebfd !important;
}

.text-information {
  opacity: 1;
  color: #2833c7 !important;
}

.form {
  background-color: #fff;
}

.form-content {
  display: flex; /* Use flexbox para alinhar os filhos em linha */
  align-items: center; /* Alinhe os filhos verticalmente no centro */
  border-radius: 0.25rem;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
