<div class="card-header align-items-center d-flex justify-content-between we-radius-top">
    <div>
        <WeHeader Title="@Title" Subtitle="@Subtitle"/>
    </div>

    @if (ShowNewButton)
    {
        <div class="d-flex align-items-center">
            <button class="we-button-icon">
                <i class="oi oi-plus"></i>
            </button>
        </div>
    }
</div>
