<div class="card-header align-items-center d-flex">
    <h4 class="card-title mb-0 flex-grow-1">@Title</h4>
    @if (ShowNewButton)
    {
        <button class="round-button">
            <i class="button-icon oi oi-plus"></i>
        </button>
    }
</div>