@inherits ComponentBase
<div class="form">
    @if (ShowTitle)
    {
        <WeTitle Title=@Title Subtitle="@Subtitle" />
    }
    <div class="form-content row">
        @ChildContent        
    </div>
</div>