<div class="we-grid-title">
    <div class="we-grid-title-column-title">
        <WeHeader Title="@Title" Subtitle="@Subtitle" />
    </div>
    <div class="we-grid-title-column-button">        
        @if (ShowNewButton)
        {   
            <WeButton Icon="add"/>
        }
    </div>
</div>