@using WeNerds.WeBlazor.Components;
@using WeNerds.WeBlazor.Models;
<div id="sidemenu" class="nav-scrollable" @onclick="ToggleNavMenu">
    <nav id="flexcolumn" class="flex-column">

        @foreach (var item in Menu.Items)
        {
            <WeSidebarItemMenu Item=item Menu=Menu OnClick="MenuItemClicked" />
        }
    </nav>
</div>

@code {

        
    public void MenuItemClicked(string level)
    {
        LoadMenu(level);
    }


    private void ToggleNavMenu()
    {
        //TODO por hora não vou tratar colapsed
        //collapseNavMenu = !collapseNavMenu;
    }
}
