<div class="we-sidebar">
    <div >
        <WeSidebarHeader Logo=@Logo />
    </div>
    <div >
        <WeSidebarUserLogged UserLogged="@UserLogged" ></WeSidebarUserLogged>
        <WeMenu Menu=@Menu />
    </div>
</div>