<div class="we-user-info-container">
    <div class="we-rounded-img">
        <img src="@UserLogged.Avatar" alt="Logo" />
    </div>
    <div class="we-info-user">
        <span><strong>@UserLogged.Name</strong></span>
        <span>@UserLogged.Role</span>
    </div>
</div>
