<div class="topbar px-4">
    <div class="container-topbar-account">
        <div class="col col2">
            <span><strong>WeNerds</strong></span>
            <span>WeNerds Ltda.</span>
        </div>
        <div class="col col1">
            <span class="material-icons">
                apartment
            </span>
        </div>
    </div>
</div>