<div class="topbar px-4">
    <div class="container-topbar-account">
        <div class="col col2">
            <span><strong>DC Comics</strong></span>
            <span>DC Comics Inc</span>
        </div>
        <div class="col col1">
            <span class="we-icon">
                apartment
            </span>
        </div>
    </div>
</div>